* {
  margin: 0px;
  padding: 0px;
}
a* {
  text-decoration: none;
}
li {
  list-style: none;
}

                                                  /*Seccion welcom*/
.Nav-link {
  color: white;
  text-decoration: none;
}
.container-Welcom {
  width: 1359px;
  height: 659px;
  background-image: url(../img/imagenDeAuto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container-nav {
  height: 70px;
  background-color: #e47114;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  z-index: 30;
}
.title-company {
  color: rgb(254, 209, 54);
  font-family: "Anton";
  font-size: 30px;
  position: absolute;
  letter-spacing: 2px;
  padding: 18px;
}
.title-company:hover {
  color: rgb(241, 190, 3);
  text-decoration: none;
}
.Nav {
  position: absolute;
  justify-content: end;
  align-items: flex-end;
  margin-right: 0px;
  padding: 30px;
}
.Nav-link {
  font-size: larger;
  padding: 7px;
}
.Nav-link:hover {
  color: rgb(254, 209, 54);
  text-decoration: none;
}
.Nav-link:active {
  background-color: seashell;
}
.container-text_welcom {
  margin-top: 100px;
}
.textWeolcom {
  font-family: "Anton";
  font-size: 80px;
  text-align: center;
  padding: 30px;
  justify-content: center;
}
.parraphWelcom {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  margin-left: 470px;
  padding: 20px;
}
/*Animaciones* de welcom*/
.container-Animations {
  width: 700px;
  display: inline-block;
  margin-top: 200px;
}

.animation {
  width: 70px;
  height: 150px;
  color: aliceblue;
  font-size: 16px;
  display: inline;
  background-image: linear-gradient(to right, ye, #c46210);
  background-color: yellow;
  position: relative;
  margin: 5px;
  margin-top: 300px;
  padding: 30px;
  animation-name: animationsNoticieImportant;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

.animations-links {
  color: white;
  text-decoration: none;
}
.animations-links:hover {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

@keyframes animationsNoticieImportant {
  0% {
    background-color: rgba(255, 255, 0, 0.796);
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: #e47114;
  }
  100% {
    background-color: #c46210;
    left: 200px;
    top: 0px;
  }
}

@keyframes keyFrames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  from {
    background-color: rgb(255, 38, 0);
  }
  to {
    background-color: rgba(45, 6, 218, 0.658);
  }
}

                                                  /*section server*/
.container-servers {
  height: 670px;
  padding-top: 50px;
}
.title-section_server {
  color: #ed8632;
  text-align: center;
  margin-top: 30PX;
  font-family: 'Fredoka One', cursive;
  font-weight: 900;
  justify-content: end;
  letter-spacing: 10px;
  padding: 30px;
  background-size: 300px;
  background-position-x: end;
}
.parraph-section_server {
  font-family: 'Indie Flower', cursive;
  margin-left: 440px;
}

.card {
  width: 300px;
  height: 350px;
  display: inline-block;
  box-shadow: 5px 5px 10px #e47114;
  margin-top: 50px;
}
.card_iconMechanical {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/mecanico.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_title {
  color: white;
  background-color: #e9934c;
  font-family: unset;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
}
.card_iconAccident {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/accidente.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_iconlocksmith {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/cerrajeriaLlave.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_descriptions {
  font-family: "Pangolin";
  font-weight: lighter;
  text-align: center;
  list-style: none;
  padding: 10px;
}

                                 /* section about*/
.container-about {
  height: 1730px;
  padding-top: 70px;
}

.about_title {
  color: #e47114;
  font-family: "Anton";
  text-align: center;
}

.figure {
  width: 1300px;
  text-align: center;
  box-sizing: border-box;
  border: black;
}

.figure-caption {
  background-color: #e47114;
}

/* Timeline*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/*Linea Timeline  */
.timeline::after {
  width: 3px;
  content: "";
  position: absolute;
  background-color: #e1853a;
  top: 0;
  left: 50%;
  bottom: 0;
}

/* container*/
.containerAbout {
  padding: 10px 100px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-top: 130px;
}

/* circle whith img */
.containerAbout::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/*Figure one*/
.figureOne {
  left: 570px;
  margin-top: 30PX;
}
.figureOne::before {
  height: 0;
  content: " ";
  position: absolute;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.figureOne::after {
  width: 170px;
  height: 170px;
  left: -55px;
  background-image: url(../img/about01.jpg);
  background-repeat: no-repeat;
  font-size: 500px !important;
  background-position: center;
  background-position-x: center;
  box-sizing: border-box;
}

/*figure two*/
.figureTwo::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.figureTwo::after {
  left: 540px;
  background-image: url(../img/about02.jpg);
  background-repeat: no-repeat;
  font-size: 500px !important;
  background-position: center;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  margin-left: -30px;
}

/*figure three*/
.figureThree {
  left: 585px;
}

.figureThree::after {
  left: -70px;
  background-image: url(../img/about03.jpg);
  background-repeat: no-repeat;
  font-size: 500px !important;
  background-position: center;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
}
.figureThree::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/*figure four*/
.figureFour::after {
  left: -50px;
  background-image: url(../img/about04.jpg);
  background-repeat: no-repeat;
  font-size: 500px !important;
  background-position: center;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  margin-left: 570px;
}
/*figure five*/
.figureFive {
  margin-left: 490px;
  text-align: center;
}
.figureFive-content {
  margin-top: 40px;
  width: 220px;
  height: 220px;
  color: white;
  background-color: #d67d34;
  background-repeat: no-repeat;
  position: absolute;
  font-size: 15px;
  padding: 20px;
  border-radius: 70%;
  font-family: 'Indie Flower', cursive;
  justify-content: center;
}
.containerAboutEnd {
  width: 700px;
  height: 40px;
  margin-top: 100px;
  position: relative;
}

.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
}
                                             /*section team*/

.container-team {
  height: 670px;
  padding-top: 50px;
}
.title_section {
  color: #c46210;
  font-family: "Anton";
  font-weight: 900;
  letter-spacing: 40;
  text-align: center;
  justify-content: end;
  background-size: 300px;
  background-position: right;
  background-position-x: end;
  padding: 30px;
}
.parraph_section {
  font-family: 'Indie Flower', cursive;
  margin-left: 460px;
}

.card-team {
  width: 350px;
  height: 400px;
  display: inline-block;
  margin-top: 50px;
}
.card-people {
  margin-top: 30px;
}
.leticia {
  width: 200px;
  height: 200px;
  background-color: white;
  background-image: url(../img/atencion.jpg);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: auto;
  border-color:   #c46210;
  border-style:  solid;
}
.esteban {
  width: 200px;
  height: 200px;
  background-color: white;
  background-image: url(../img/director.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: auto;
  border-radius: 50%;
  border-color:   #c46210;
  border-style: solid;
}
.alexander {
  width: 200px;
  height: 200px;
  background-color: white;
  background-image: url(../img/recursos.jpg);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: auto;
  border-color:   #c46210;
  border-style: solid;
}
.card-people_name {
  color: white;
  color: #c46210;
  font-family: unset;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.card-people_profession {
  color: rgb(158, 158, 158);
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 20px;
}

                                 /*Footer*/
.footer {
  color: white;
  height: 270px;
  background-color: black;
  margin-top: 40px;
}
.office {
  color: #c46210;
}
.footer_links {
  color: #c46210;
  text-decoration: none;
}
.footer_links:hover {
  color: white;
  text-decoration: none;
}
.footer_plus {
  color: white;
}
.footer_text {
 justify-content: center;
 text-align: start;
 align-items: center;
}
.footer_copyright {
  color: gray;
}