/*Seccion welcom*/
* {
  margin: 0px;
  padding: 0px;
}
.Nav-link {
  color: white;
  text-decoration: none;
}
body {
  background-color: aqua;
}
.container-Welcom {
  width: 1359px;
  height: 659px;
  background-image: url(../img/imagenDeAuto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container-nav {
  background-color: #c46210;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
}
.title-company {
  position: absolute;
  padding: 18px;
  font-size: 30px;
  color: rgb(254, 209, 54);
  font-family: "Anton";
  letter-spacing: 2px;
}
.title-company:hover {
  text-decoration: none;
  color: rgb(241, 190, 3);
}
.Nav {
  position: absolute;
  justify-content: end;
  align-items: flex-end;
  padding: 30px;
  margin-right: 0px;
}
.Nav-link {
  font-size: larger;
  padding: 7px;
}
.Nav-link:hover {
  color: rgb(254, 209, 54);
  text-decoration: none;
}
.Nav-link:active {
  background-color: seashell;
}
.container-text_welcom {
  margin-top: 100px;
}
.textWeolcom {
  font-family: "Anton";
  font-size: 80px;
  padding: 30px;
  text-align: center;
  justify-content: center;
}
.parraphWelcom {
  color: white;
  font-family: "Pangolin";
  font-size: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  margin-left: 480px;
}
/*Animaciones* de welcom*/
.container-Animations {
  display: inline-block;
  width: 700px;
  margin-top: 200px;
}

.animation {
  width: 70px;
  height: 150px;
  padding: 30px;
  margin: 5px;
  margin-top: 300px;
  background-color: yellow;
  background-image: linear-gradient(to right, ye, #c46210);
  position: relative;
  animation-name: animationsNoticieImportant;
  animation-duration: 10s;
  color: aliceblue;
  font-size: 16px;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  display: inline;
}

.animations-links {
  text-decoration: none;
  color: white;
}
.animations-links:hover {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

@keyframes animationsNoticieImportant {
  0% {
    background-color: rgba(255, 255, 0, 0.796);
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: #e47114;
  }
  100% {
    background-color: #c46210;
    left: 200px;
    top: 0px;
  }
}

@keyframes keyFrames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  from {
    background-color: rgb(255, 38, 0);
  }
  to {
    background-color: rgba(45, 6, 218, 0.658);
  }
}

/*seccion servicios*/
.container-servers {
  height: 670px;
}

h3 {
  background-image: url(../img/estrellas.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right;
  font-weight: 900;
  color: #c46210;
  background-size: 300px;
  background-position-x: end;
  text-align: center;
  justify-content: end;
  padding: 30px;
  font-family: "Anton";
  letter-spacing: 40;
}
p2 {
  font-family: "Pangolin";
  margin-left: 460px;
}

.card {
  width: 350px;
  height: 400px;
  display: inline-block;
  margin-top: 50px;
  box-shadow: 5px 5px 10px #c46210;
}
.card_iconMechanical {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/mecanico.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_title {
  color: white;
  background-color: #c46210;
  font-family: unset;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}
.card_iconAccident {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/accidente.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_iconlocksmith {
  width: 350px;
  height: 160px;
  background-color: white;
  background-image: url(../img/cerrajeriaLlave.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card_descriptions {
  text-align: center;
  list-style: none;
  font-family: "Pangolin";
  padding: 10px;
  font-weight: lighter;
}
